.idea
pw/branches/r1117/Bin/logs
pw/branches/r1117/Tools/CopyReference/obj
pw/branches/r1117/Src/.vs
pw/branches/r1117/Src/_Debug
pw/branches/r1117/Src/Backup
pw/branches/r1117/Src/Backup1
pw/branches/r1117/Src/Backup2
pw/branches/r1117/Src/Win32
pw/branches/r1117/Src/DBCodeGen/.vs
pw/branches/r1117/Src/DBCodeGen/obj
pw/branches/r1117/Src/EaselLevelEditor/.vs
pw/branches/r1117/Src/EaselLevelEditor/obj
pw/branches/r1117/Src/EditorLib/.vs
pw/branches/r1117/Src/EditorLib/obj
pw/branches/r1117/Src/EditorPlugins/obj
pw/branches/r1117/Src/libdb.NET/obj
pw/branches/r1117/Src/libdb.NET/.vs
pw/branches/r1117/Src/MayaExeInteraction/.vs
pw/branches/r1117/Src/MayaExeInteraction/obj
pw/branches/r1117/Src/PF_Editor/.vs
pw/branches/r1117/Src/PF_Editor/obj
pw/branches/r1117/Src/PF_EditorC/.vs
pw/branches/r1117/Src/PF_EditorC/obj
pw/branches/r1117/Src/PF_TypeIcons/.vs
pw/branches/r1117/Src/PF_TypeIcons/obj
pw/branches/r1117/Src/PF_Types/.vs
pw/branches/r1117/Src/PF_Types/obj
pw/branches/r1117/Src/PF_Types.DBTypes/.vs
pw/branches/r1117/Src/PF_Types.DBTypes/obj
pw/branches/r1117/Src/PW_MiniLauncher/.vs
pw/branches/r1117/Src/PW_MiniLauncher/obj
pw/branches/r1117/Src/SocialTypes/.vs
pw/branches/r1117/Src/SocialTypes/obj
pw/branches/r1117/Src/SocialTypes.DBTypes/.vs
pw/branches/r1117/Src/SocialTypes.DBTypes/obj
pw/branches/r1117/Src/Types/.vs
pw/branches/r1117/Src/Types/obj
pw/branches/r1117/Src/Types.DBTypes/.vs
pw/branches/r1117/Src/Types.DBTypes/obj
